/*
 * Copyright (c) 2014 MediaTek Inc.
 * Author: Eddie Huang <eddie.huang@mediatek.com>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/dts-v1/;
#include "mt8173-oak.dtsi"

/ {
	model = "Mediatek Oak rev1 board";
	compatible = "google,oak-rev1", "google,oak", "mediatek,mt8173";
};

&backlight_lcd {
	/delete-property/ power-supply; /* Not used on oak-rev1 */
};

&bl_fixed_reg {
	status = "disabled";
};

&cpu2 {
	proc-supply = <&da9211_vcpu_reg>;
	operating-points = <
		507000  828000
		702000  867000
		1001000 927000
		1209000 968000
		1404000 1007000
		1612000 1049000
	>;
};

&cpu3 {
	proc-supply = <&da9211_vcpu_reg>;
	operating-points = <
		507000  828000
		702000  867000
		1001000 927000
		1209000 968000
		1404000 1007000
		1612000 1049000
	>;
};

&dsi0_out {
	remote-endpoint = <&ite6151_in>;
};

&gpu {
	mfgsys-power-supply = <&da9211_vgpu_reg>;
	operating-points = <
		253500 1000000
		299000 1000000
		396500 1000000
		455000 1000000
		494000 1130000
	>;
};

&i2c1 {
	da9211: da9211@68 {
		compatible = "dlg,da9211";
		reg = <0x68>;

		regulators {
			da9211_vcpu_reg: BUCKA {
				regulator-name = "VBUCKA";
				regulator-min-microvolt = < 700000>;
				regulator-max-microvolt = <1310000>;
				regulator-min-microamp	= <2000000>;
				regulator-max-microamp	= <4400000>;
				regulator-ramp-delay = <10000>;
				regulator-always-on;
			};

			da9211_vgpu_reg: BUCKB {
				regulator-name = "VBUCKB";
				regulator-min-microvolt = < 700000>;
				regulator-max-microvolt = <1310000>;
				regulator-min-microamp	= <2000000>;
				regulator-max-microamp	= <3000000>;
				regulator-ramp-delay = <10000>;
			};
		};
	};
};

&i2c3 {
	ite6151: edp-bridge@5c {
		compatible = "ite,it6151";
		reg = <0x5c>;
		rxreg = <0x6c>;
		power-gpio = <&pio 30 GPIO_ACTIVE_HIGH>;
		reset-gpio = <&pio 115 GPIO_ACTIVE_HIGH>;
		disp-bdg-supply = <&mt6397_vgp2_reg>;
		#address-cells = <1>;
		#size-cells = <0>;

		edid = [00 ff ff ff ff ff ff 00 0d ae 32 11 00 00 00 00
			13 17 01 04 95 1a 0e 78 02 14 35 92 55 53 95 29
			24 50 54 00 00 00 01 01 01 01 01 01 01 01 01 01
			01 01 01 01 01 01 da 1d 56 e2 50 00 20 30 88 1e
			8c 00 00 90 10 00 00 18 00 00 00 fe 00 4e 31 31
			36 42 47 45 2d 45 41 32 0a 20 00 00 00 fe 00 43
			4d 4e 0a 20 20 20 20 20 20 20 20 20 00 00 00 fe
			00 4e 31 31 36 42 47 45 2d 45 41 32 0a 20 00 48];

		port@0 {
			reg = <0>;

			ite6151_in: endpoint {
				remote-endpoint = <&dsi0_out>;
			};
		};

		port@1 {
			reg = <1>;

			ite6151_out: endpoint {
				remote-endpoint = <&panel_in>;
			};
		};
	};
};

&mt6311 {
	status = "disabled";
};

&mt6397_vgp2_reg {
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <1800000>;
};

&panel {
	/delete-property/ power-supply; /* Not used on oak-rev1 */
	/delete-property/ ddc-i2c-bus; /* Not used on oak-rev1 */

	port {
		panel_in: endpoint {
			remote-endpoint = <&ite6151_out>;
		};
	};
};

&panel_fixed_3v3 {
	status = "disabled";
};

&ps8640 {
	status = "disabled";
};

&ps8640_fixed_1v2 {
	status = "disabled";
};
